.App {
    height: 100vh;
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    background: white;
    
    .search-options {
      background: white;
    //   border-bottom: 1px solid darkgreen;
      padding: 10px 20px;
    //   height: 2rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 10px;
    }
  
    main {
      overflow: auto;
      padding: 20px;
    }
  
    .loading {
      position: fixed;
      top: 0;
      width: 100vw;
      height: 500px;
      object-fit: contain;
    }
  }